{% extends 'Shop/basic.html' %}

{% block title%}About Us{% endblock %}
{% block body%}
    <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Sculpsoft E-Commerce Shop</h1>
      <p>SculptSoft was founded in 2012. Since then we have been delivering innovative business solutions to our clients globally. Our core beliefs are anchored in understanding the clients' business goals, objectives and solving complex problems with the most effective solutions as a true business partner. Our rich legacy is reflected in our client list with a strong trust shared between us. We bring together the best of both worlds - automation through our technology solutions, and efficiency through our back-office services.


With established offices in the USA and INDIA, over the past 4 years, SculptSoft has successfully provided technology automation and back office solutions to various industries. This experience has been at the core of our ability to deliver solutions and services to enable our clients to succeed in the marketplace.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

</main>

{% endblock %}